*.DS_Store

#python
python/*.py[cod]

# elixir.mix.hello_world
elixir/mix/hello_world/_build
elixir/mix/hello_world/cover
elixir/mix/hello_world/deps
elixir/mix/hello_world/doc
elixir/mix/hello_world/.fetch
elixir/mix/hello_world/erl_crash.dump
elixir/mix/hello_world/*.ez
elixir/mix/hello_world/hello_world-*.tar
elixir/mix/hello_world/tmp
